<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group10.mapper.CouponMapper">

   
    <resultMap id="BaseResultMap" type="com.group10.model.CouponDO">
        <result column="id" property="id" />
        <result column="category" property="category" />
        <result column="publish" property="publish" />
        <result column="coupon_img" property="couponImg" />
        <result column="coupon_title" property="couponTitle" />
        <result column="price_deducted" property="priceDeducted" />
        <result column="user_limit" property="userLimit" />
        <result column="valid_from" property="validFrom" />
        <result column="valid_until" property="validUntil" />
        <result column="inventory" property="inventory" />
        <result column="remaining" property="remaining" />
        <result column="created_at" property="createdAt" />
        <result column="condition_price" property="conditionPrice" />
    </resultMap>

   
    <sql id="Base_Column_List">
        id, category, publish, coupon_img, coupon_title, price_deducted, user_limit, valid_from, valid_until, inventory, remaining, created_at, condition_price
    </sql>

    <update id="reduceStock">
        update coupon set remaining=remaining-1 where id = #{couponId} and remaining > 0
    </update>

</mapper>
